#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
DH_VERBOSE = 1
VERSION = 0.1.2
PKGNAME = volbriosd

# main packaging script based on dh7 syntax
%:
	dh $@ 

dh_override_build:
	git archive --format tar $(VERSION)|gzip > ../$(PKGNAME)_$(VERSION).orig.tar.gz
